backend/build/
frontend/ft8web-ui/dist/
frontend/ft8web-ui/node_modules/
frontend/ft8web-ui/.angular/
frontend/ft8web-ui/ALLCALL7.TXT
vendor/wsjtx-3.1.0/
vendor/hamlib-src/
config.json
logs/
ALLCALL7.TXT
